@import "../components/bootstrap/css/bootstrap.css";
@import "../components/bootstrap/css/bootstrap-responsive.css";

span, ul li {
  line-height: 65px;
  font-size: 22px;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}
