@import url(../components/bootstrap/css/bootstrap.css);
@import url(../components/bootstrap/css/bootstrap-responsive.css);
/* line 4, ../../app/styles/main.scss */
span, ul li {
  line-height: 65px;
  font-size: 22px;
}

/* line 9, ../../app/styles/main.scss */
.avatar {
  float: right;
}

/* line 13, ../../app/styles/main.scss */
.avatar img {
  height: 50px;
  width: 50px;
}

/* line 18, ../../app/styles/main.scss */
.done-true {
  text-decoration: line-through;
  color: grey;
}
