<div class="hero-unit">
  <h1>Name's todo list</h1>
</div>
<div class=row>
  <div class=span4>
    <span>XXX of YYY remaining</span>
    [ <a href="">archive</a> ]
    <ul class="unstyled span4">
      <li class=clearfix>
        <input type="checkbox">
        <span>Introduce AngularJS</span>
        <div class="pull-right">
          <img ng-src="img/Igor.jpg" class="thumbnail">
          <h4>Igor</h4>
        </div>
      </li>
      <li class=clearfix>
        <input type="checkbox">
        <span>Build this Todo App</span>
        <div class="pull-right">
          <img ng-src="img/Vojta.jpg" class="thumbnail">
          <h4>Vojta</h4>
        </div>
      </li>
      <li class=clearfix>
        <input type="checkbox">
        <span>Show up components</span>
        <div class="pull-right">
          <img ng-src="img/Misko.jpg" class="thumbnail">
          <h4>Misko</h4>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class=row>
  <div class="span4">
    <form>
      <input type="text"size="30"
      placeholder="add new todo here"
      required>
      <select required>
        <option required>Igor</option>
        <option required>Misko</option>
        <option required>Vojta</option>
      </select>
      <input class="btn-primary"
      type="submit" value="add">
    </form>
  </div>
</div>
