<div class="hero-unit">
  <h1>{{name}}'s todo list</h1>
</div>
<div class=row>
  <div class=span12>
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="" data-ng-click="archive()">archive</a> ]
    <ul class="unstyled">
      <li data-ng-repeat="todo in todos">
        <input type="checkbox" data-ng-model="todo.done">
        <span>{{todo.text}}</span>
      </li>
    </ul>
    <form data-ng-submit="addTodo()">
      <input type="text"size="30"
      placeholder="add new todo here"
      data-ng-model="newTodo" required>
      <input class="btn-primary"
      type="submit" value="add">
    </form>

  </div>
</div>
