<div class="hero-unit">
  <h1>Name's todo list</h1>
</div>
<div class=row>
  <div class=span4>
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="" data-ng-click="archive()">archive</a> ]
    <ul class="unstyled span4">
      <li class="clearfix todo-{{todo.done}}"
      data-ng-repeat='todo in todos'>
        <input
        data-ng-model="todo.done"
        type="checkbox">
        <span>{{todo.text}}</span>
        <x-avatar data-minion-name="todo.minion"></x-avatar>
      </li>
    </ul>
  </div>
</div>
<div class=row>
  <div class="span4">
    <form data-ng-submit="addTodo()">
      <input type="text"size="30"
      data-ng-model="newTodo.text"
      placeholder="add new todo here"
      required>
      <select required data-ng-model="newTodo.minion">
        <option required>Igor</option>
        <option required>Misko</option>
        <option required>Vojta</option>
      </select>
      <input class="btn-primary"
      type="submit" value="add">
    </form>
  </div>
</div>
